body {
    background: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

[class*="col-"] {
    width: 100%;
}

li {
    list-style: none;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(160, 160, 160);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%)
}

button:hover{
    color: red;
}
button {
    background-color: rgb(0, 0, 0);
    border: none;
    color:  rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 30px;
}

.bigbutton {
    padding: 15px 32px;
}

.title {
    text-align: center;
    font-size: 80px;
}

.todo {
    text-align: center;
    font-size: 30;
}

.news-headline {
    text-align: center;
    font-size: 2em;
}

.news-title {
    font-size: 1.6em;
    padding: 2% 2% 0;
}

.news-text {
    padding: 0 1%;
}

.date {
    color: lightgray;
    margin: 0 2% 0 0;
}

hr {
    margin: 5% 2% 0;
}

@media only screen and (min-width: 500px) {
    body {
        background: rgb(255, 255, 255);
    }
    [class*="col-"] {
        width: 50%;
    }
}

@media only screen and (min-width: 700px) {
    body {
        background: rgb(3, 77, 6)
    }
    article {
        position: fixed;
        width: 70%;
        height: 100%;
        top: 0%;
        left: 15%;
        background: white;
    }
}